 // Keyframes assistance found at http://animista.net
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50%{
    transform: translateY(4px);
  }
  100% {
    transform: translateY(0);
  }
}

.bounce {
	animation: bounce 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: Grey;
}

img {
  max-width: 100%;
}

.hero-image {
  // border: 1px solid grey;
  background-image: url('../images/warrior.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 150px;
  margin-bottom: 10px;
}

.hero-2 {
  background-image: url('../images/rogue.png');
}

.hero-3 {
  background-image: url('../images/wizard.png');
  background-size: 80%;
}

.hero-4 {
  background-image: url('../images/berserker.png');
}

.hero-5 {
  background-image: url('../images/gunner.png');
  background-size: 90%;
}

.hero-6 {
  background-image: url('../images/dragoon.png');
}

.mainpage-header {
  color: #FFFFFF;
  text-align: center;
}

.hero-selection-section {
  background-color: #FFFFFF;
  text-align: center;
  margin: 0 0 20px 0;
  border-radius: 10px;
}


//HEALTH BAR

// #hero-health-bar {
//     width: 100%;
//     background-color: red;
// }
// #hero-health-left {
//     width: 50%;
//     height: 30px;
//     background-color: green;
// }

//BATTLE SCREEN

.battle-main-area {
  background-image: url(../images/battle_bg.png);
  background-size: cover;
  height: 100vh;
}

.hero-container {
  margin-top: 25vh;
  padding: 20px;
  border-radius: 25px;
}

.attack-text {
  text-align: center;
  padding-top: 25vh;
  color: #FFFFFF;
}

.hero-name {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.hero-hp {
  font-weight: bold;
  font-size: 24px;
}

.hero-attack-button {
  color: white;
  background-color: red;
}


.enemy-container {
  margin-top: 25vh;
  padding: 20px;
  border-radius: 25px;
}

.enemy-name {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.enemy-hp {
  font-weight: bold;
  font-size: 24px;
}
