<div class="row">
  <h1 class="mainpage-header eight columns offset-by-two">Select Your Combatant!</h1>
</div>


<div class="row">
    <div class="hero-selection-section three columns offset-by-one">
      <h3>The Warrior</h3>
      <div class="hero-image eight columns offset-by-two bounce">
      </div>
      <button type="button" class="js-hero-select" data-class="warrior">Warrior</button>
    </div>
    <div class="hero-selection-section three columns offset-by-one">
      <h3>The Rogue</h3>
      <div class="hero-image hero-2 eight columns offset-by-two bounce">
      </div>
      <button type="button" class="js-hero-select" data-class="rogue">Rogue</button>
    </div>
    <div class="hero-selection-section three columns offset-by-one">
      <h3>The Wizard</h3>
      <div class="hero-image hero-3 eight columns offset-by-two bounce">
      </div>
      <button type="button" class="js-hero-select" data-class="wizard">Wizard</button>
    </div>
    <div class="hero-selection-section three columns offset-by-one">
      <h3>The Berserker</h3>
      <div class="hero-image hero-4 eight columns offset-by-two bounce">
      </div>
      <button type="button" class="js-hero-select" data-class="berserker">Berserker</button>
    </div>
    <div class="hero-selection-section three columns offset-by-one">
      <h3>The Gunner</h3>
      <div class="hero-image hero-5 eight columns offset-by-two bounce">
      </div>
      <button type="button" class="js-hero-select" data-class="gunner">Gunner</button>
    </div>
    <div class="hero-selection-section three columns offset-by-one">
      <h3>The Lancer</h3>
      <div class="hero-image hero-6 eight columns offset-by-two bounce lancer">
      </div>
      <button type="button" class="js-hero-select" data-class="lancer">Lancer</button>
    </div>
</div>
